@model Labb4_MVCRazor_WebbapplicationsWithC_ASP.NET.Models.BookLoanHistory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure about deleting?</h3>
<div>
    <h4>BookLoanHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.BookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BookLoanHistoryId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Back to list</a>
    </form>
</div>
