@model Labb4_MVCRazor_WebbapplicationsWithC_ASP.NET.Models.BookLoanHistory

@{
    ViewData["Title"] = "Index";
}

<h1>Summary</h1>

<p>
    <a asp-action="Create">Add new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Books.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookLoanHistoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookLoanHistoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookLoanHistoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
